<!doctype html>
<html lang="en" ng-app="album">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" href="static/img/favicon.png">

    <!-- <link rel="icon" href="static/img/favicon.png"> -->
    <!-- <title>Album | Panel</title> -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
 
  <!-- Compiled and minified JavaScript -->
  <link rel="stylesheet" href="static/css/custom.css">

    
   
</head>
<body class="has-group-by nav-min" ng-cloak>    
    
        <ui-view></ui-view>
    <!-- Scripts -->
    <script type="text/javascript" src="static/dashboard/lib/angular.js"></script>
    <script type="text/javascript" src="static/dashboard/lib/angular-resource.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
   
    <script type="text/javascript" src="static/dashboard/js/app.js"></script>
    <script type="text/javascript" src="static/dashboard/js/controller.js"></script>
    <script type="text/javascript" src="static/dashboard/js/service.js"></script>
   <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    

    <!-- <script type="text/javascript" src="static/dashboard/dist/d3.v3.min.js"></script> -->
   

</body>
</html>


